body {
	width: 960px;
	margin: auto;
}

h1 {
	text-align: center;
}

#datos-libro,
#principal {
	float: left;
}

#datos-libro {
	width: 260px;
}

#principal {
	width: 700px;
}

#contenido-libro {
	list-style-type: none;
	padding: 0;
}

#contenido-libro li{
    float: left;
    width: 33%;
}
