body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}


header {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0.5rem 0;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav li {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

nav a:hover {
    font-weight: 700;
    color: red;
}

section {
    min-height: 20em;
    background-color: #fff;
    padding: 1rem;
}

footer {
    text-align: center;
    margin-top: 1rem;
}

footer div {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

footer img {
    width: 3em;
}

footer p {
    background-color: #f4f4f4;
    padding: 0.5rem;
    font-size: 0.8rem;
    margin: 0;
}

footer a {
    text-decoration: none; 
    color: black;
}
