.caja {
	position: absolute;
    width: 200px;
    height: 200px;
}

#rojo {
	background-color: red;
    top: 100px;
    left: 100px;
}

#azul {
	background-color: blue;
    top: 150px;
    left: 150px;
}

#verde {
	background-color: green;
    top: 200px;
    left: 200px;
}
