.bloque {
    position: absolute;
    width: 200px;
    height: 200px;
}

/* Estilos específicos para cada bloque */
#bloque1 {
    background-color: red;
    top: 100px;
    left: 100px;
}

#bloque2 {
    background-color: green;
    top: 150px;
    left: 150px;
}

#bloque3 {
    background-color: blue;
    top: 200px;
    left: 200px;
}